#!/usr/bin/make -f

%:
	dh $@ --with systemd

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-systemd \
		--with-terminal=gnome-terminal \
		--with-terminal-parameters="--hide-menubar --title \"Endless OS Factory Test\" --maximize --wait"

override_dh_systemd_start:
	dh_systemd_start --no-start
